// Заголовки, общие БЄМ блоки и проче...
$black: #181e28;
$grey: #4F5A6A;
$blue: #00D4FF;

.accent-link {
    font-size: rem(32);
    color: $blue;
    text-decoration: underline;
}

.text {
    line-height: 32px;
    color: $grey;

    &_white {
        color: #fff;
    }

    @media (max-width:$mobile) {
        font-size: rem(16);
    }
}

.title {
    font-size: rem(64);
    font-weight: 500;

    @media (max-width:$mobile) {
        font-size: rem(48);
    }
}

.icon-item {
    padding: 8px 8px 16px;

    &_purple {
        background: rgba(248, 251, 253, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

}

.icon-circle {
    width: 120px;
    height: 120px;
    background-color: $blue;
    border-radius: 50%;
    position: relative;
    margin-bottom: rem(16);

    &::after {
        content: '';
        background-size: cover;
        width: 120px;
        height: 120px;
        position: absolute;
        top: -20px;
        right: -30px;
        display: block;
        z-index: 999;

        @media (max-width:$mobile) {
            width: 105px;
            height: 105px;
        }
    }

    &-3d {
        &::after {
            top: -10px;
            background: url('@img/crypto/3d.svg') 0 0 no-repeat;
        }
    }

    &-meta {
        &::after {
            background: url('@img/crypto/meta.svg') 0 0 no-repeat;
        }
    }

    &-soft {
        &::after {
            top: -10px;
            background: url('@img/crypto/soft.svg') 0 0 no-repeat;
        }
    }

    &-apps {
        &::after {
            background: url('@img/crypto/apps.svg') 0 0 no-repeat;
        }
    }

    &-is {
        &::after {
            background: url('@img/crypto/is.svg') 0 0 no-repeat;
        }
    }

    @media (max-width:$mobile) {
        width: 105px;
        height: 105px;
    }
}

.icon-descriptions {
    display: flex;
    gap: 48px;

    @media (max-width:$mobileSmall) {
        flex-wrap: wrap;
    }
}

.icon-text {
    flex-basis: 49%;
    font-size: rem(32);
    line-height: 44px;

    @media (max-width:$mobile) {
        font-size: rem(24);
        line-height: 32px;
    }

    @media (max-width:$mobileSmall) {
        flex-basis: 100%;
    }

    &_white {
        color: #fff;
    }

    // .crypto__text_blue

    &_blue {
        color: $blue;
    }
}